<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />
   <!-- <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" /> -->
 
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="turtlebot3_teleop_keyboard"  output="screen">
    <param name="speed" value="0.4" />
    <param name="turn" value="0.7" />
  </node>

</launch>
